.Header-Outer
  .Header.Block
    a(href="/").Logo.Col9
      .Logo-Img
        img(src="./images/logo.png", alt="Логотип")
      .Logo-Title
        p Вятская ГСХА
    .LandingNav.Col2
      ul
        li
          a(href="#", data-to-block-id="toshow").LandingNav-Link.Text_Uppercase На концерт
    .Menu-Outer.Col1
      button.Menu-Button
        img(src="./images/mobile_menu.svg", alt="Кнопка меню")
      ul.Menu
        li.Menu-Item
          a(href="#").Menu-Link На главную
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория такая то 1
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория такая то 2
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория с названием чуточку длиннее
        li.Menu-Item
          a(href="#").Menu-Link Концерт
        li.Menu-Item
          a(href="#").Menu-Link Перейти на юбилейный сайт