.Header-Outer.Container_Wide
  .Header.Block.Container
    a(href="/").Logo
      .Logo-Img
        img(src="./images/logo.png", alt="Логотип")
      .Logo-Title
        p 90-летие Вятской ГСХА
    nav.LandingNav-Outer
      ul.LandingNav
        li.LandingNav-Item
          a(href="#", data-to-block-id="about").LandingNav-Link.Text_Uppercase Фильм
        li.LandingNav-Item
          a(href="#", data-to-block-id="anons").LandingNav-Link.Text_Uppercase Анонс мероприятий
        li.LandingNav-Item
          a(href="#", data-to-block-id="stream").LandingNav-Link.Text_Uppercase Стрим
        li.LandingNav-Item
          a(href="#", data-to-block-id="expo").LandingNav-Link.Text_Uppercase Экскурсия
        li.LandingNav-Item
          a(href="#", data-to-block-id="mono").LandingNav-Link.Text_Uppercase Монография
        li.LandingNav-Item
          a(href="#", data-to-block-id="toshow").LandingNav-Link.Text_Uppercase Концерт
        li.LandingNav-Item
          a(href="#", data-to-block-id="badges").LandingNav-Link.Text_Uppercase Награды
        li.LandingNav-Item
          a(href="#", data-to-block-id="grats").LandingNav-Link.Text_Uppercase Поздравления
      .BgForNav
      button.Button-Menu
        <svg viewBox="0 -53 384 384" xmlns="http://www.w3.org/2000/svg"><path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/><path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/><path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0"/></svg>
    //.Menu-Outer.Col2
      button.Button-Menu
        img(src="./images/mobile_menu.svg", alt="Кнопка меню")
      ul.Menu
        li.Menu-Item
          a(href="#").Menu-Link На главную
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория такая то 1
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория такая то 2
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория с названием чуточку длиннее
        li.Menu-Item
          a(href="#").Menu-Link Концерт
        li.Menu-Item
          a(href="#").Menu-Link Перейти на юбилейный сайт