.Header-Outer.Container_Wide
  .Header.Block.Container
    a(href="/").Logo.Col4
      .Logo-Img
        img(src="./images/logo.png", alt="Логотип")
      .Logo-Title
        p 90-летие Вятской ГСХА
    nav.LandingNav-Outer.Col8
      ul.LandingNav
        li.LandingNav-Item
          a(href="#", data-to-block-id="about").LandingNav-Link.Text_Uppercase Фильм
        li.LandingNav-Item
          a(href="#", data-to-block-id="anons").LandingNav-Link.Text_Uppercase Анонс мероприятий
        li.LandingNav-Item
          a(href="#", data-to-block-id="expo").LandingNav-Link.Text_Uppercase Экскурсия
        li.LandingNav-Item
          a(href="#", data-to-block-id="mono").LandingNav-Link.Text_Uppercase Монография
        li.LandingNav-Item
          a(href="#", data-to-block-id="toshow").LandingNav-Link.Text_Uppercase Концерт
        li.LandingNav-Item
          a(href="#", data-to-block-id="badges").LandingNav-Link.Text_Uppercase Награды
        li.LandingNav-Item
          a(href="#", data-to-block-id="grats").LandingNav-Link.Text_Uppercase Поздравления
    //.Menu-Outer.Col2
      button.Menu-Button
        img(src="./images/mobile_menu.svg", alt="Кнопка меню")
      ul.Menu
        li.Menu-Item
          a(href="#").Menu-Link На главную
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория такая то 1
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория такая то 2
        li.Menu-Item
          a(href="#").Menu-Link Лаборатория с названием чуточку длиннее
        li.Menu-Item
          a(href="#").Menu-Link Концерт
        li.Menu-Item
          a(href="#").Menu-Link Перейти на юбилейный сайт