.Modal-Outer
  .Modal
    .Modal-Header
      h2.Modal-Title.Text_Center Лаборатория диагностики качества кормов и разведения сельскохозяйственных животных им. Л.К. Эрнста
      button.Button.Button_ModalClose.Modal-Button
        img(src="./images/close.png", alt="закрыть")
    .Modal-Content