extends common/layout.pug

block content
  include blocks/mainBlock.pug
  include blocks/anons.pug
  include blocks/expo.pug
  include blocks/mono.pug
  include blocks/concert.pug
  include blocks/badges.pug
  include blocks/grats.pug