.AnonsList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  top: 35%;
  transform: translateY(-50%);

  &-Date {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40%;
    align-items: center;
  }

  &-FullAnons {
    width: 58%;
  }

  &-Item {
    position: relative;
    background-color: #fff0d6;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &_Selected,
    &:hover {
      background-color: #d04e5e;
      color: #fff;
    }
  }

  &-Text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2rem;
  }

  &-Info {
    display: none;
  }

  &-EventDate {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &-Event {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #222;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &-Time {
    min-width: 140px;
    font-size: 1.2rem;
    margin-right: 15px;
  }

  &-Description {
    font-size: 1.2rem;

    & > p {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: #d04e5e;
    }
  }
}

@include mq-max(1200px) {
  .AnonsList {
    width: 95%;
  }
}

@include mq-max(991px) {
  .AnonsList {
    top: 0;
    transform: translateY(0);
  }
}

@include mq-max(890px) {
  .AnonsList {
    flex-direction: column;
    &-Date,
    &-FullAnons {
      margin-right: auto;
      margin-left: auto;
    }
    &-Date {
      width: 70%;
      margin-bottom: 20px;
    }

    &-FullAnons {
      width: 90%;
    }
  }
}

@include mq-max(751px) {
  .AnonsList {
    &-Date {
      width: 90%;
    }

    &-FullAnons {
      width: 95%;
    }
    &-Time {
      min-width: 125px;
    }

    &-Description,
    &-Time {
      font-size: 1.1rem;
    }
  }
}

@include mq-max(591px) {
  .AnonsList {
    &-Date {
      width: 95%;
    }

    &-EventDate {
      font-size: 1.1rem;
    }
    &-Text {
      font-size: 1.1rem;
    }
  }
}

@include mq-max(500px) {
  .AnonsList {
    &-Time {
      min-width: 112px;
    }

    &-Description,
    &-Time {
      font-size: 1rem;
    }
  }
}

@include mq-max(480px) {
  .AnonsList {
    &-Item {
      width: 120px;
      height: 120px;
      margin-right: 7px;
      margin-bottom: 7px;
    }
    &-Text {
      font-size: 1rem;
    }
  }
}

@include mq-max(420px) {
  .AnonsList {
    &-Event {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    &-Time {
      margin-bottom: 15px;
    }
    &-Description {
      text-align: center;
    }
  }
}

@include mq-max(350px) {
  .AnonsList {
    width: 100%;

    &-Date {
      width: 100%;
    }

    &-Item {
      width: 100px;
      height: 100px;
    }
  }
}

@include mq-max(244px) {
  .AnonsList {
    &-Item {
      width: 95px;
      height: 95px;
    }
  }
}
