.BadgesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &-Item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #faf6e3;
    color: #222;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    width: 30%;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fff;
      //border: 2px solid #fff;
    }
  }

  &-Img,
  &-Title {
    pointer-events: none;
  }

  &-Img {
    position: relative;
    margin-right: 25px;
    min-width: 90px;
    width: 90px;
    height: 120px;

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-Title {
    margin-top: 10px;
    font-size: 1.4rem;
  }
}
