.Button {
  max-width: 280px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  color: $secondary-text;
  transition: all 0.2s ease;
  cursor: pointer;

  &_ModalClose {
    width: 36px;
    height: 36px;
    background-color: $accent-3;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(#c72c41, 0.8);
    }

    & > img {
      pointer-events: none;
    }
  }

  &-Menu {
    display: none;
    position: relative;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    width: 48px;
    left: 0;
    cursor: pointer;

    & > svg {
      pointer-events: none;
      fill: #fff;
    }
  }
}

@include mq-max(1489px) {
  .Button {
    &-Menu {
      display: block;
      left: 100%;
      transform: translateX(-100%);
      z-index: 161;
    }
  }
}

@include mq-max(410px) {
  .Button {
    &-Menu {
      width: 40px;
    }
  }
}
