.ButtonGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 70%;
  margin-right: auto;
  margin-left: auto;

  &-Button {
    border: none;
    border-radius: 10px;
    width: 40%;
    height: 60px;
    background-color: #fdfafa;
    font-size: 1.7rem;
    color: $primary-text;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#fdfafa, 3%);
    }
  }
}
