.Concert {
  //height: 100%;
  //background-color: #f9fafc;
  background-color: #fff;

  &-Outer {
  }

  &-Video {
    width: 70%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
