.Labs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/raccoon-470529_2560.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &-Video {
    width: 60%;
    height: 65%;
    margin-right: auto;
    margin-left: auto;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

@include mq-max(1920px) {
  .Labs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url(../../images/vgsha_bg_1920.jpg);
  }
}

@include mq-max(1024px) {
  .Labs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url(../../images/vgsha_bg_1024.jpg);
  }
}

@include mq-max(800px) {
  .Labs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url(../../images/vgsha_bg_800.jpg);
  }
}

@include mq-max(640px) {
  .Labs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url(../../images/vgsha_bg_640.jpg);
  }
}

@include mq-max(480px) {
  .Labs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url(../../images/vgsha_bg_480.jpg);
  }
}

@include mq-max(320px) {
  .Labs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
      url(../../images/vgsha_bg_320.jpg);
  }
}
