.LandingNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &-Item {
    margin-right: 15px;

    &:last-child() {
      margin-right: 0;
    }
  }

  &-Link {
    color: $secondary-text;
    font-size: 1.2rem;
    transition: color 0.2s linear;

    &:hover {
      color: $accent-3;
    }
  }
}
