.LandingNav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  &-Item {
    margin-right: 25px;

    &:last-child() {
      margin-right: 0;
    }
  }

  &-Link {
    //color: $secondary-text;
    font-family: "Montserrat", sans-serif;
    color: #fffff7;
    font-size: 1.2rem;
    transition: color 0.2s linear;

    &:hover {
      color: $accent-3;
    }
  }
}
