.Logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  &-Img {
    margin-right: 20px;
    width: 120px;
  }

  &-Title {
    color: $secondary-text;
    font-size: 2.2rem;
  }
}
