.Logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  &-Img {
    margin-right: 20px;
    width: 90px;
  }

  &-Title {
    font-family: "Montserrat", sans-serif;
    //color: $secondary-text;
    color: #fffff7;
    //color: #f9fafc;
    font-size: 2.2rem;
  }
}
