.MainBlock {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(../../images/vgsha_bg_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
