.Section {
  height: 100%;

  &-Outer {
    padding-top: 140px;
    padding-bottom: 30px;
    min-height: 100vh;
    height: 100vh;

    &_NotHeight {
      height: auto;
    }
  }

  &-Title {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 40px;

    &_Light {
      color: #fffff7;
    }
    &_Dark {
      color: #222;
    }
  }
}

@include mq-max(1500px) {
  .Section {
    &-Title {
      font-size: 2.1rem;
    }
  }
}

@include mq-max(1340px) {
  .Section {
    &-Title {
      font-size: 1.9rem;
    }
  }
}

@include mq-max(991px) {
  .Section {
    &-Outer {
      min-height: 0;
      height: auto;
    }
    &-Title {
      font-size: 1.7rem;
    }
  }
}

@include mq-max(767px) {
  .Section {
    &-Title {
      font-size: 1.5rem;
    }
  }
}

@include mq-max(575px) {
  .Section {
    &-Title {
      font-size: 1.3rem;
    }
  }
}

@include mq-max(400px) {
  .Section {
    &-Title {
      font-size: 1.2rem;
    }
  }
}

@include mq-max(367px) {
  .Section {
    &-Outer {
      padding-top: 100px;
    }
  }
}
