.SingleVideo {
  /* position: relative;
  height: 60vh;
  width: 80%;
  margin-right: auto;
  margin-left: auto; */
  position: relative;
  //width: 62.88%;
  width: 57.88%;
  height: 0;
  //padding-bottom: 40.37%;
  padding-bottom: 35.37%;
  background-color: #222;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  /* &-Video {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 50.62%;
    background-color: #222;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }*/
}

@include mq-max(1500px) {
  .SingleVideo {
    width: 70%;
    padding-bottom: 39.37%;
  }
}

@include mq-max(1100px) {
  .SingleVideo {
    width: 80%;
    padding-bottom: 44.99%;
  }
}

@include mq-max(1100px) {
  .SingleVideo {
    width: 85%;
    padding-bottom: 47.81%;
  }
}
/*
@include mq-max(975px) {
  .SingleVideo {
    height: 50vh;
  }
}

@include mq-max(800px) {
  .SingleVideo {
    height: 41vh;
  }
}

@include mq-max(683px) {
  .SingleVideo {
    height: 35vh;
  }
}

@include mq-max(575px) {
  .SingleVideo {
    width: 95%;
  }
}

@include mq-max(575px) {
  .SingleVideo {
    height: 29vh;
  }
}

@include mq-max(400px) {
  .SingleVideo {
    height: 22vh;
  }
}

@include mq-max(320px) {
  .SingleVideo {
    height: 18vh;
  }
} */
