.VideoGrid {
  position: relative;

  &_Center {
    top: 50%;
    transform: translateY(-50%);
  }

  &-Item {
    position: relative;
    margin-bottom: 35px;
    max-height: 550px;
    height: 550px;

    iframe,
    div {
      position: relative;
      left: 50%;
      //top: 50%;
      //transform: translate(-50%, -50%);
      transform: translateX(-50%);
      width: 85%;
      height: 85%;
    }

    div {
      overflow: hidden;
    }
  }

  &-Title {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fffff7;
    margin-bottom: 30px;
    font-size: 1.7rem;
    padding-bottom: 5px;
    //border-bottom: 1px solid #fffff7;
  }
}
