.VideoGrid {
  position: relative;

  &_Center {
    top: 50%;
    transform: translateY(-50%);
  }

  &-Item {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    //padding-right: 50px;
    //padding-left: 50px;
    //margin-bottom: 35px;
    //max-height: 500px;
    //height: 550px;

    /* div {
      position: relative;
      width: 85%;
      height: 85%;
    } */

    /* div {
      overflow: hidden;
    } */
  }

  &-Video {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 50.62%;
    background-color: #222;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &-Title {
    position: relative;
    color: #fffff7;
    margin-bottom: 30px;
    font-size: 1.7rem;
    padding-bottom: 5px;
  }
}

@include mq-max(1200px) {
  .VideoGrid {
    /* &-Item {
      //height: 520px;

      iframe,
      div {
        //height: 63%;
      }
    } */
    &-Title {
      font-size: 1.5rem;
    }
  }
}

@include mq-max(1100px) {
  .VideoGrid {
    &-Video {
      width: 100%;
      padding-bottom: 56.25%;
    }
  }
}

@include mq-max(991px) {
  .VideoGrid {
    &_Center {
      top: 0;
      transform: translateY(0);
    }

    &-Item {
      margin-bottom: 35px;
      /* iframe,
      div {
        width: 85%;
        height: 86%;
      } */
    }

    &-Video {
      width: 90%;
      padding-bottom: 50.62%;
    }

    &-Title {
      margin-bottom: 20px;
    }
  }
}
/*

@include mq-max(850px) {
  .VideoGrid {
    &-Item {
      height: 420px;

      iframe,
      div {
        width: 85%;
        height: 82%;
      }
    }
  }
}
*/
@include mq-max(767px) {
  .VideoGrid {
    &-Item {
      margin-bottom: 25px;
    }
  }
}
/*

@include mq-max(640px) {
  .VideoGrid {
    &-Item {
      iframe,
      div {
        width: 95%;
      }
    }
  }
}
*/
@include mq-max(575px) {
  .VideoGrid {
    /* &-Item {
      height: 330px;
      margin-bottom: 20px;

      iframe,
      div {
        width: 95%;
      }
    } */
    &-Title {
      font-size: 1.4rem;
    }
  }
}

@include mq-max(450px) {
  .VideoGrid {
    &-Item {
      /*  height: 300px; */
      margin-bottom: 15px;
    }
    &-Title {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
  }
}

@include mq-max(380px) {
  .VideoGrid {
    &-Item {
      /* height: 240px; */
    }
    &-Title {
      font-size: 1.1rem;
    }
  }
}

/* @include mq-max(320px) {
  .VideoGrid {
    &-Item {
      height: 220px;
    }
  }
}
*/
