.Section.Concert.Container_Wide
  h3.Section-Title Концерт, посвященный 90-летию Вятской ГСХА!
  .Concert-Video
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>