div.Header
  a(href="/").Logo
    .Logo-Img
      img(src="./images/logo.png", alt="Логотип")
    .Logo-Title
      p Юбилей Вятской ГСХА
  .LandingNav
    ul
      li
        a(href="#").LandingNav-Link.Text_Uppercase На концерт
  .Menu-Outer
    button.Menu-Button
      img(src="./images/mobile_menu.svg", alt="Кнопка меню")
    ul.Menu
      li.Menu-Item
        a(href="#").Menu-Link На главную
      li.Menu-Item
        a(href="#").Menu-Link Лаборатория такая то 1
      li.Menu-Item
        a(href="#").Menu-Link Лаборатория такая то 2
      li.Menu-Item
        a(href="#").Menu-Link Лаборатория с названием чуточку длиннее
      li.Menu-Item
        a(href="#").Menu-Link Концерт
      li.Menu-Item
        a(href="#").Menu-Link Перейти на юбилейный сайт