#anons.Section-Outer.Anons.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Анонс онлайн-мероприятий, посвященных 90-летию Вятской ГСХА
    .AnonsList
      .AnonsList-Date
        .AnonsList-Item(data-event-date='30')
          p.AnonsList-Text.Text_Center 30 октября
        .AnonsList-Info
          p.AnonsList-EventDate.Text_Center 30 октября
          .AnonsList-Event
            p.AnonsList-Time.Text_Center 09.00
            .AnonsList-Description
              p Онлайн-экскурсия «Академия новых возможностей»
              p Галерея видео-поздравлений с 90-летием Академии
              p Юбилейный фильм «Больше чем образование»
              p Онлайн-концерт Центра молодежной политики
          .AnonsList-Event
            p.AnonsList-Time.Text_Center 10.00 - 10.30
            .AnonsList-Description
              p Праздничный стрим ректора Симбирских Е.С., посвященный 90-летию академии.&nbsp;
                a(href="https://youtu.be/Gxf13NrmMF4" target="_blank") Ссылка


        .AnonsList-Item(data-event-date='2')
          p.AnonsList-Text.Text_Center 2 ноября
        .AnonsList-Info
          p.AnonsList-EventDate.Text_Center 2 ноября
          .AnonsList-Event
            p.AnonsList-Time.Text_Center 15.00
            .AnonsList-Description
              p Торжественное открытие учебных аудиторий
                | &nbsp;(
                a(href="http://90y.vgsha.info/2020/11/02/2-nojabrja-2020-torzhestvennoe-otkrytie-uchebnyh-auditorij/" target="_blank") ссылка
                |):
              p  &nbsp;&nbsp;- Фирменная аудитория ЗАО Племзавод «Октябрьский»
              p  &nbsp;&nbsp;- Фирменная аудитория «Эко-Макс»
              p  &nbsp;&nbsp;- Фирменная аудитория «Фармакс»
              p  &nbsp;&nbsp;- Фирменная аудитория Россельхозбанка
              p  &nbsp;&nbsp;- Фирменная аудитория «Зеленая экономика» Сбербанка

        .AnonsList-Item(data-event-date='3')
          p.AnonsList-Text.Text_Center 3 ноября
        .AnonsList-Info
          p.AnonsList-EventDate.Text_Center 3 ноября
          .AnonsList-Event
            p.AnonsList-Time.Text_Center 14.00
            .AnonsList-Description
              p Торжественное открытие научных лабораторий Центра коллективного пользования научным оборудованием «Агробиотехнологии»
                | &nbsp;(
                a(href="http://90y.vgsha.info/2020/11/03/3-nojabrja-2020-torzhestvennoe-otkrytie-nauchnyh-laboratorij-centra-kollektivnogo-polzovanija-nauchnym-oborudovaniem-agrobiotehnologii/" target="_blank") ссылка
                |):
              p  &nbsp;&nbsp;- Лаборатория инновационных пищевых производств
              p  &nbsp;&nbsp;- Аналитическая лаборатория
              p  &nbsp;&nbsp;- Лаборатория ветеринарной иммунологии и морфологии
              p  &nbsp;&nbsp;- Лаборатория диагностики качества кормов и разведения сельскохозяйственных животных им. Л.К. Эрнста

        .AnonsList-Item(data-event-date='5')
          p.AnonsList-Text.Text_Center 5 ноября
        .AnonsList-Info
          p.AnonsList-EventDate.Text_Center 5 ноября
          .AnonsList-Event
            //p.AnonsList-Time.Text_Center 12.00
            .AnonsList-Description
              //p Торжественное открытие музейных экспозиций Вятской ГСХА «90 лет меняемся вместе»
              //p  &nbsp;&nbsp;- Музей истории Вятской ГСХА
              //p  &nbsp;&nbsp;- Музей-лаборатория охотоведения биологического факультета
              //p  &nbsp;&nbsp;- Патологоанатомический музей факультета ветеринарной медицины
              <p style="color:#d04e5e"><strong>В связи со сложившейся эпидемиологической обстановкой торжественные мероприятия переносятся</strong></p>
          .AnonsList-Event
            //p.AnonsList-Time.Text_Center 15.00
            .AnonsList-Description
              //p Торжественное открытие ветеринарной клиники Вятской ГСХА

        .AnonsList-Item(data-event-date='6')
          p.AnonsList-Text.Text_Center 6 ноября
        .AnonsList-Info
          p.AnonsList-EventDate.Text_Center 6 ноября
          .AnonsList-Event
            //p.AnonsList-Time.Text_Center 10.00 - 11.00
            .AnonsList-Description
              //p Экскурсия «AгроFuture2020» по корпусу агрономического факультета
              <p style="color:#d04e5e"><strong>В связи со сложившейся эпидемиологической обстановкой торжественные мероприятия переносятся</strong></p>

        .AnonsList-Item(data-event-date='10')
          p.AnonsList-Text.Text_Center 10 ноября
        .AnonsList-Info
          p.AnonsList-EventDate.Text_Center 10 ноября
          .AnonsList-Event
            //p.AnonsList-Time.Text_Center 10.00
            .AnonsList-Description
              //p Торжественное открытие фирменной инновационной цифровой аудитории ООО СХП «Дороничи»
              <p style="color:#d04e5e"><strong>В связи со сложившейся эпидемиологической обстановкой торжественные мероприятия переносятся</strong></p>


      .AnonsList-FullAnons
