#badges.Section-Outer.Badges.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Награды
    .BadgesList
      a(href="#" data-badge-id="b0001").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge03.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Министерство сельского хозяйства Российской федерации
      a(href="#" data-badge-id="b0002").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge02.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Законодательное собрание Кировской области
      a(href="#" data-badge-id="b0003").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge01.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Кировский молочный комбинат
      a(href="#" data-badge-id="b0004").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge04.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Комитет по аграрно-производственной политике и природопользованию Совета Федерации РФ
      a(href="#" data-badge-id="b0005").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge02.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Кировская городская Дума
      a(href="#" data-badge-id="b0006").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge02.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Администрация муниципального образования "город Киров"
      a(href="#" data-badge-id="b0007").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge03.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Министерство сельского хозяйства и продовольствия Кировской области
      a(href="#" data-badge-id="b0008").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge02.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Правительство Кировской области
      a(href="#" data-badge-id="b0009").BadgesList-Item
        .BadgesList-Img
          img(src="./images/badge02.png", alt="badge icon")
        p.BadgesList-Title.Text_Center Территориальное управление по Ленинскому району города Киров