#badges.Section-Outer.Badges.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Награды
    .BadgesList
      a(href="#" data-badge-id="b0001").BadgesList-Item
        .BadgesList-Img
          img(src="./images/lab01.png", alt="badge icon")
        p.BadgesList-Title Награды правительства
      a(href="#" data-badge-id="b0002").BadgesList-Item
        .BadgesList-Img
          img(src="./images/lab02.png", alt="badge icon")
        p.BadgesList-Title Награды минсельхоза
      a(href="#" data-badge-id="b0003").BadgesList-Item
        .BadgesList-Img
          img(src="./images/lab03.png", alt="badge icon")
        p.BadgesList-Title Награды академии