#toshow.Section-Outer.Concert.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Концерт, посвященный 90-летию Вятской ГСХА!
    .SingleVideo
      //.SingleVideo-Video
      <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/khDN3tVGOCA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>