#expo.Section-Outer.Expo.Container_Wide
  .Section.Container
    //.Expo-List
    h3.Section-Title.Section-Title_Light Видеоэкскурсия "Вятская ГСХА: территория новых возможностей"
    .LabsList
      a(href="#" data-lab-id="l0001").LabsList-Item
        .LabsList-Img
          img(src="./images/lab01.png", alt="lab icon")
        p.LabsList-Title Лаборатория экспериментальной гидропоники и органического земледелия
      a(href="#" data-lab-id="l0002").LabsList-Item
        .LabsList-Img
          img(src="./images/lab02.png", alt="lab icon")
        p.LabsList-Title Ветеринарная клиника
      a(href="#" data-lab-id="l0003").LabsList-Item
        .LabsList-Img
          img(src="./images/lab03.png", alt="lab icon")
        p.LabsList-Title Лаборатория инновационных технологий пищевых производств
      a(href="#" data-lab-id="l0004").LabsList-Item
        .LabsList-Img
          img(src="./images/lab04.png", alt="lab icon")
        p.LabsList-Title Лаборатория ветеринарной иммунологии и морфологии
      a(href="#" data-lab-id="l0005").LabsList-Item
        .LabsList-Img
          img(src="./images/lab05.png", alt="lab icon")
        p.LabsList-Title Лаборатория диагностики качества кормов и разведения сельскохозяйственных животных им. Л.К. Эрнста
      a(href="#" data-lab-id="l0006").LabsList-Item
        .LabsList-Img
          img(src="./images/lab06.png", alt="lab icon")
        p.LabsList-Title Патологоанатомический музей ветеринарного факультета
      a(href="#" data-lab-id="l0007").LabsList-Item
        .LabsList-Img
          img(src="./images/lab07.png", alt="lab icon")
        p.LabsList-Title Аналитическая лаборатория
      a(href="#" data-lab-id="l0008").LabsList-Item
        .LabsList-Img
          img(src="./images/lab08.png", alt="lab icon")
        p.LabsList-Title Музей истории Академии
      a(href="#" data-lab-id="l0009").LabsList-Item
        .LabsList-Img
          img(src="./images/lab09.png", alt="lab icon")
        p.LabsList-Title Лаборатория коневодства
      a(href="#" data-lab-id="l0010").LabsList-Item
        .LabsList-Img
          img(src="./images/lab10.png", alt="lab icon")
        p.LabsList-Title Корпоративная аудитория ОАО "Минский тракторный завод"
      a(href="#" data-lab-id="l0011").LabsList-Item
        .LabsList-Img
          img(src="./images/lab11.png", alt="lab icon")
        p.LabsList-Title Фирменная аудитория "Зеленая экономика" ПАО "Сбербанк"
      a(href="#" data-lab-id="l0012").LabsList-Item
        .LabsList-Img
          img(src="./images/lab12.png", alt="lab icon")
        p.LabsList-Title Фирменная аудитория АО "РСХБ"
      a(href="#" data-lab-id="l0013").LabsList-Item
        .LabsList-Img
          img(src="./images/lab13.png", alt="lab icon")
        p.LabsList-Title Лаборатория эвристики ЦНО "Агрополис"
      a(href="#" data-lab-id="l0014").LabsList-Item
        .LabsList-Img
          img(src="./images/lab14.png", alt="lab icon")
        p.LabsList-Title Фирменная аудитория ЗАО "НПП Фармакс"

