#expo.Section-Outer.Expo.Container_Wide
  .Section.Container
    .Expo-List
      h3.Section-Title.Section-Title_Light Список лабораторий
      .LabsList
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab01.png", alt="lab icon")
          p.LabsList-Title Лаборатория экспериментальной гидропоники и органического земледелия
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab07.png", alt="lab icon")
          p.LabsList-Title Ветеринарная клиника
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab02.png", alt="lab icon")
          p.LabsList-Title Лаборатория инновационных технологий пищевых производств
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab08.png", alt="lab icon")
          p.LabsList-Title Лаборатория иммунобиохимического анализа биологических объектов
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab03.png", alt="lab icon")
          p.LabsList-Title Лаборатория ветеринарной иммунологии и морфологии
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab09.png", alt="lab icon")
          p.LabsList-Title Лаборатория по изучению патологии репродуктивных органов и молочной железы у животных
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab04.png", alt="lab icon")
          p.LabsList-Title Лаборатория диагностики качества кормов и разведения сельскохозяйственных животных им. Л.К. Эрнста
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab10.png", alt="lab icon")
          p.LabsList-Title Патологоанатомический музей ветеринарного факультета
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab06.png", alt="lab icon")
          p.LabsList-Title Аналитическая лаборатория
        a(href="#").LabsList-Item
          .LabsList-Img
            img(src="./images/lab05.png", alt="lab icon")
          p.LabsList-Title Музей истории Академии
