#grats.Section-Outer.Section-Outer_NotHeight.Grats.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Поздравления с юбилеем
    .Grats-Grid.Block
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_zammin_02.jpg"/>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/5oTcZWzAJS0")
            picture(source srcset="https://i.ytimg.com/vi_webp/5oTcZWzAJS0/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/5oTcZWzAJS0/maxresdefault.jpg" alt="Губернатор Кировской области Игорь Васильев поздравляет Вятскую ГСХА с 90-летием")
          p.YtVideo-VideoTitle Губернатор Кировской области Игорь Васильев поздравляет Вятскую ГСХА с 90-летием
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/5oTcZWzAJS0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_04.jpg"/>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/65XZ8RISti0")
            picture(source srcset="https://i.ytimg.com/vi_webp/65XZ8RISti0/sddefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/65XZ8RISti0/sddefault.jpg" alt="Видео-поздравление от Минлесхоза Кировской области")
          p.YtVideo-VideoTitle Видео-поздравление от Минлесхоза Кировской области
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/65XZ8RISti0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/_GO_PwnEgvU")
            picture(source srcset="https://i.ytimg.com/vi_webp/_GO_PwnEgvU/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/_GO_PwnEgvU/maxresdefault.jpg" alt="Видео-поздравление с юбилеем Вятской ГСХА от Анны Александровны Альминовой")
          p.YtVideo-VideoTitle Видео-поздравление с юбилеем Вятской ГСХА от Анны Александровны Альминовой
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_GO_PwnEgvU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_19.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_08.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_14.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_15.jpg"/>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/Y2rBO7Ccu5w")
            picture(source srcset="https://i.ytimg.com/vi_webp/Y2rBO7Ccu5w/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/Y2rBO7Ccu5w/maxresdefault.jpg" alt="Поздравление Вятской ГСХА от ген.директора ООО«ТПК-МТЗ Татарстан» Константина Владимировича Анисимова")
          p.YtVideo-VideoTitle Поздравление Вятской ГСХА от ген.директора ООО«ТПК-МТЗ Татарстан» Константина Владимировича Анисимова
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/Y2rBO7Ccu5w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_10.jpg"/>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/ofjYUPemC3g")
            picture(source srcset="https://i.ytimg.com/vi_webp/ofjYUPemC3g/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/ofjYUPemC3g/maxresdefault.jpg" alt="ВятГУ поздравляет Вятскую ГСХА с 90-летием!")
          p.YtVideo-VideoTitle ВятГУ поздравляет Вятскую ГСХА с 90-летием!
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/ofjYUPemC3g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/fyICqc_0aX4")
            picture(source srcset="https://i.ytimg.com/vi_webp/fyICqc_0aX4/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/fyICqc_0aX4/maxresdefault.jpg" alt="Поздравление Вятской ГСХА от Устюжанина Игоря Александровича")
          p.YtVideo-VideoTitle Поздравление Вятской ГСХА от Устюжанина Игоря Александровича
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fyICqc_0aX4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/iQAjODBUHTI")
            picture(source srcset="https://i.ytimg.com/vi_webp/iQAjODBUHTI/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/iQAjODBUHTI/maxresdefault.jpg" alt="Волго-Вятский институт Университета имени О.Е. Кутафина (МГЮА) поздравляет Вятскую ГСХА с юбилеем!")
          p.YtVideo-VideoTitle Волго-Вятский институт Университета имени О.Е. Кутафина (МГЮА) поздравляет Вятскую ГСХА с юбилеем!
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/iQAjODBUHTI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/fZsnTSj-PoI")
            picture(source srcset="https://i.ytimg.com/vi_webp/fZsnTSj-PoI/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/fZsnTSj-PoI/maxresdefault.jpg" alt="Поздравление Вятской ГСХА с юбилеем от врио ректора Самарского ГАУ Игоря Гужина")
          p.YtVideo-VideoTitle Поздравление Вятской ГСХА с юбилеем от врио ректора Самарского ГАУ Игоря Гужина
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fZsnTSj-PoI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/_CZW3PDk38w")
            picture(source srcset="https://i.ytimg.com/vi_webp/_CZW3PDk38w/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/_CZW3PDk38w/maxresdefault.jpg" alt="Поздравление с 90 летием Вятской ГСХА от ректора КГМУ Железного Льва Михайловича")
          p.YtVideo-VideoTitle Поздравление с 90 летием Вятской ГСХА от ректора КГМУ Железного Льва Михайловича
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_CZW3PDk38w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_11.jpg"/>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/gUox9u9xATY")
            picture(source srcset="https://i.ytimg.com/vi_webp/gUox9u9xATY/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/gUox9u9xATY/maxresdefault.jpg" alt="Поздравление с 90-летием Вятской ГСХА от КОГПОАУ КАТТ")
          p.YtVideo-VideoTitle Поздравление с 90-летием Вятской ГСХА от КОГПОАУ КАТТ
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/gUox9u9xATY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/DZDxr6QeDwk")
            picture(source srcset="https://i.ytimg.com/vi_webp/DZDxr6QeDwk/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/DZDxr6QeDwk/maxresdefault.jpg" alt="Видео-поздравление с 90-летием Вятской ГСХА от КОГПОБУ 'Вятско-Полянский механический техникум'")
          p.YtVideo-VideoTitle Видео-поздравление с 90-летием Вятской ГСХА от КОГПОБУ "Вятско-Полянский механический техникум"
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/DZDxr6QeDwk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/8GKfnFo2Xdk")
            picture(source srcset="https://i.ytimg.com/vi_webp/8GKfnFo2Xdk/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/8GKfnFo2Xdk/maxresdefault.jpg" alt="Поздравление с 90 летним юбилеем от КОГПОБУ «Вятский аграрно-промышленный техникум»")
          p.YtVideo-VideoTitle Поздравление с 90 летним юбилеем от КОГПОБУ «Вятский аграрно-промышленный техникум»
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/8GKfnFo2Xdk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/vVdKBYe6t5w")
            picture(source srcset="https://i.ytimg.com/vi_webp/vVdKBYe6t5w/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/vVdKBYe6t5w/maxresdefault.jpg" alt="Поздравление с 90-летием Вятской ГСХА от Куменского аграрно-технологического техникума")
          p.YtVideo-VideoTitle Поздравление с 90-летием Вятской ГСХА от Куменского аграрно-технологического техникума
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/vVdKBYe6t5w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/fZ91DoowNKs")
            picture(source srcset="https://i.ytimg.com/vi_webp/fZ91DoowNKs/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/fZ91DoowNKs/maxresdefault.jpg" alt="ЗАО племзавод Октябрьский поздравляет Вятскую ГСХА с юбилеем!")
          p.YtVideo-VideoTitle ЗАО племзавод Октябрьский поздравляет Вятскую ГСХА с юбилеем!
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fZ91DoowNKs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/Nv8Awd07HV8")
            picture(source srcset="https://i.ytimg.com/vi_webp/Nv8Awd07HV8/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/Nv8Awd07HV8/maxresdefault.jpg" alt="Поздравление Вятской ГСХА от управляющего КО ПАО Сбербанк Пищик Артема Александровича")
          p.YtVideo-VideoTitle Поздравление Вятской ГСХА от управляющего КО ПАО Сбербанк Пищик Артема Александровича
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/Nv8Awd07HV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/_fN0P3nsGUo")
            picture(source srcset="https://i.ytimg.com/vi_webp/_fN0P3nsGUo/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/_fN0P3nsGUo/maxresdefault.jpg" alt="Поздравлением Вятской ГСХА с 90 летием от завода по производству премиксов 'ЭкоМакс'")
          p.YtVideo-VideoTitle ГПоздравлением Вятской ГСХА с 90 летием от завода по производству премиксов "ЭкоМакс"
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_fN0P3nsGUo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/eXcwBQlEZWw")
            picture(source srcset="https://i.ytimg.com/vi_webp/eXcwBQlEZWw/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/eXcwBQlEZWw/maxresdefault.jpg" alt="Россельхоз поздравление")
          p.YtVideo-VideoTitle Россельхоз поздравление
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/eXcwBQlEZWw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/P1NjN8rrn1k")
            picture(source srcset="https://i.ytimg.com/vi_webp/P1NjN8rrn1k/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/P1NjN8rrn1k/maxresdefault.jpg" alt="Поздравление с юбилеем Вятской ГСХА от выпускника Кузенкова Валерия Петровича")
          p.YtVideo-VideoTitle Поздравление с юбилеем Вятской ГСХА от выпускника Кузенкова Валерия Петровича
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/P1NjN8rrn1k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/WFheYujM4No")
            picture(source srcset="https://i.ytimg.com/vi_webp/WFheYujM4No/hqdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/WFheYujM4No/hqdefault.jpg" alt="Кировская лугоболотная опытная станция поздравляет с 90-летием Вятскую ГСХА")
          p.YtVideo-VideoTitle Кировская лугоболотная опытная станция поздравляет с 90-летием Вятскую ГСХА
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/WFheYujM4No" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        .Grats-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/W4oN6DPTyFQ")
            picture(source srcset="https://i.ytimg.com/vi_webp/W4oN6DPTyFQ/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/W4oN6DPTyFQ/maxresdefault.jpg" alt="Поздравление от Косолапова В.М. ФНЦ «ВИК им. В.Р. Вильямса»")
          p.YtVideo-VideoTitle Поздравление от Косолапова В.М. ФНЦ «ВИК им. В.Р. Вильямса»
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
          //<iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/W4oN6DPTyFQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_01.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_02.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_03.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_05.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_06.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_07.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_09.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_12.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_13.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_16.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_17.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_18.jpg"/>
      .Grats-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_20.jpg"/>
