#grats.Section-Outer.Section-Outer_NotHeight.Grats.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Поздравления с юбилеем
    .VideoGrid.Block
      .VideoGrid-Item.Col6
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col6
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col6
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col6
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col6
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    //.ButtonGroup
      button.ButtonGroup-Button Экскурсия
      button.ButtonGroup-Button Поздравления