#grats.Section-Outer.Section-Outer_NotHeight.Grats.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Поздравления с юбилеем
    .VideoGrid.Block
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_zammin_02.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/5oTcZWzAJS0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_04.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/65XZ8RISti0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_GO_PwnEgvU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_08.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_14.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_15.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/Y2rBO7Ccu5w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_10.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/ofjYUPemC3g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fyICqc_0aX4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/iQAjODBUHTI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fZsnTSj-PoI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_11.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/gUox9u9xATY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/DZDxr6QeDwk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/8GKfnFo2Xdk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/vVdKBYe6t5w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/fZ91DoowNKs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/Nv8Awd07HV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/_fN0P3nsGUo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/eXcwBQlEZWw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/P1NjN8rrn1k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/WFheYujM4No" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/W4oN6DPTyFQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_01.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_02.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_03.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_05.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_06.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_07.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_09.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_12.jpg"/>
      .VideoGrid-Item.Col12.ColLg6
        div.Grats-Img
          <img loading="lazy" src="https://vgsha.info/wp-content/uploads/images/news/2020/10/pozdravleniya_90/grats_13.jpg"/>
      
