.Section.Labs.Container_Wide
  include ../common/header.pug
  h3.Section-Title.Section-Title_Lab Лаборатория по исследованию снов березы под воздействием молитв
  .Labs-Video
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5K27s0QUS80" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>