#about.Section-Outer.MainBlock.Container_Wide
  .Section.Container
    .VideoGrid.VideoGrid_Center.Block
      .VideoGrid-Item.Col12.ColLg6
        h3.VideoGrid-Title История
        <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/0cJDZAddu7g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .VideoGrid-Item.Col12.ColLg6
        h3.VideoGrid-Title Больше чем образование
        <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/rV1nfSJxeJY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>