#about.Section-Outer.MainBlock.Container_Wide
  .Section.Container
    .VideoGrid.VideoGrid_Center.Block
      .VideoGrid-Item.Col12.ColLg6
        h3.VideoGrid-Title История
        .VideoGrid-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/0cJDZAddu7g")
            picture(source srcset="https://i.ytimg.com/vi_webp/0cJDZAddu7g/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/0cJDZAddu7g/maxresdefault.jpg" alt="История")
          p.YtVideo-VideoTitle История
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>
      .VideoGrid-Item.Col12.ColLg6
        h3.VideoGrid-Title Больше чем образование
        .VideoGrid-Video.YtVideo
          a.YtVideo-Link(href="https://youtu.be/rV1nfSJxeJY")
            picture(source srcset="https://i.ytimg.com/vi_webp/rV1nfSJxeJY/maxresdefault.webp" type="image/webp")
              img.YtVideo-Media(src="https://i.ytimg.com/vi/rV1nfSJxeJY/maxresdefault.jpg" alt="Больше чем образование")
          p.YtVideo-VideoTitle Больше чем образование
          button.YtVideo-Button(aria-label="Запустить видео")
            <svg width="68" height="48" viewBox="0 0 68 48"><path class="YtVideo-Button_Shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="YtVideo-Button_Icon" d="M 45,24 27,14 27,34"></path></svg>

      //.VideoGrid-Item.Col12.ColLg6
        h3.VideoGrid-Title История
        .VideoGrid-Video
          <iframe width="560" height="315" loading="lazy" src="https://www.youtube.com/embed/0cJDZAddu7g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      //.VideoGrid-Item.Col12.ColLg6
        h3.VideoGrid-Title Больше чем образование
        .VideoGrid-Video
          <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/rV1nfSJxeJY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>