#mono.Section-Outer.Mono.Container_Wide
  .Section.Container
    h3.Section-Title.Section-Title_Dark Коллективная монография
    .Mono-Info
      .Mono-Cover
        img(src="https://vgsha.info/wp-content/uploads/images/news/2020/10/kol_monografiya/mono_cover.jpg", alt="Обложка монографии")
      .Mono-Description
        p.Mono-Title Инновационное развитие агропромышленного комплекса как фактор конкурентоспособности: проблемы, тенденции, перспективы
        p.Mono-SubTitle Коллективная монография
        p.Mono-SubTitle Под общей редакцией доктора педагогических наук Е.С. Симбирских
        .Mono-Download
          a.Mono-Link(href="https://expo.vgsha.info/docs/mono_1.pdf" download="Монография. Часть 1") Часть 1
          a.Mono-Link(href="https://expo.vgsha.info/docs/mono_2.pdf" download="Монография. Часть 2") Часть 2


